@font-face {
    font-family: "Itim-Regular";
    src: url("Itim-Regular.ttf") format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Itim", Arial;
    height: 100vh;
}



/*informações sobre a caixa do menu*/
.menulateral{
    width: 40px;
    height: 97%;
    background-color: white;
    margin-top: 10px;

    /*linha para tirar a borda da esquerda*/
    border-left: none;

    transition: 0.3s;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
}

/*Item para abri o menu*/
.hamburguer > i{
    color: black;
    font-size: 35px;
    padding: 12px;
    cursor: pointer;
}

/*Conteudo do menu*/
ul{
    list-style-type: none;
    text-align: center;
}

ul li.conteudo{
    transition: 0.5s;
}

ul li:hover{
    background-color: aqua;
}

ul li.conteudo a{
    color: black;
    text-decoration: none;
    display: flex;
    padding: 5px;

    font-size: 35px;
}

ul li.conteudo a .txt{
    margin-left: 60px;  
}

.inferior{
    padding-top: 200px;
}

ul li.conteudo2 a{
    color: black;
    text-decoration: none;
    display: flex;
    font-size: 30px;
}

ul li.conteudo2 a{
    margin-left: 60px;
}


/*menu superior - logotipo e perfil*/
.menu-superior{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 15px;
}

.menu-superior .logotipo{
    display: flex;
    flex-direction: row;
    justify-content: center;

    cursor: pointer;
}

.menu-superior .perfil{
    padding-right: 18px;
    position: absolute;
    right: 0;
}

.menu-superior .perfil .img{
    cursor: pointer;
}


/*Locoalização das regioes*/
.regiao{
    position: absolute;
    transform: translate(50%, 50%);
}

#norte {
    height: 250px;
    top: 112px;
    left: 480px;
}
#norte:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

#nordeste{
    height: 250px;
    top: 188px;
    left: 904px;
}
#nordeste:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

#centro-oeste {
    height: 220px;
    top:294px;
    left:722px;
}
#centro-oeste:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

#sudeste {
    height: 157px;
    top:414px;
    left:841px;
    
}
#sudeste:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

#sul {
    height: 150px;
    top:529px;
    left: 821px;
}
#sul:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}



.conteiner{
    /* top right bottom left */
    padding: 20px 250px 20px 250px;
    font-size: 16px;
}
.conteudo-borda{
    border: 3px solid black;
    border-radius: 10px;
    padding: 30px;
}

.marca{
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}
.marca a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.marca h1 {
    font-size: 28px;
    color: black;
}

.sobre{
    padding: 15px 0 15px 0;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.conteiner .conteudo{
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}

.foto img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
}

nav{
    display: inline-block;
    padding-right: 20px;
}

#cabeçalho{
    position: relative;
    right: 50px;
    left: 200px;
    width: 50px;
    top: -280px;
}

.check{
    margin-right: 120px;
}

.caixa{
    display:block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

.caixa input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 20px;
    
}
.caixa:hover input ~ .checkmark {
    background-color: #ccc;
}
.caixa input:checked~ .checkmark {
    background-color: red;
}
	
.caixa .checkmark::after{
    content: "";
    position: absolute;
    display: none;
    left: 2px;
    top: 1px;
    width: 8px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.caixa input:checked~ .checkmark::after{
    display: block;
}

.cor{
   color: red;
}