/* -------------- Incorporação da fonte de texto customizada -------------- */
@font-face {
  font-family: "Itim-Regular";
  src: url("Itim-Regular.ttf") format('truetype');
}
  
/* -------------- Estilização do corpo da página -------------- */
body {
  background-color: #D9D9D9;
  font-family: "Itim", Arial;
  font-size: 18px;
}
  
/* -------------- Estilização da divisão de telas - lado esquerdo e direito -------------- */
.split {
  height: 87.5%;
  width: 50%;
  position: fixed;
  margin-top: 50px;
}
  
.left {
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}
  
.left img {
  max-width: 100%;
  max-height: 100%;
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.right {
  right: 0;
  background-color: #E02029;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}
  
/* -------------- Estilização do fundo da área de login -------------- */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 16px;
  
  height: 556px;
  width: 449px;
  
  background-color: white;
  
  border: 3px solid;
  border-radius: 10px;
}
  
/* -------------- Estilização do ícone e nome superiores -------------- */
.icone-recupSenha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
/* -------------- Estilização dos textos e posições dos campos de Email e Senha -------------- */
.campo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.texto {
  /* top right bottom left */
  padding: 0 30px 10px 40px;
  font-size: 20px;
}
  
.campo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
/* -------------- Estilização dos campos de input -------------- */
input[type=email] {
  /* top right bottom left */
  padding: 18px 15px 18px 15px;
  margin: 3px 0 15px 0;
  
  border: 3px solid;
  border-radius: 10px;
  border-color: black;
  
  font-size: 18px;
  font-family: "Itim", Arial;
}
  
input[type=email]:focus {
  background-color: #F1F1F1;
  outline: none;
  border-color: dodgerblue;
}
  
/* -------------- Estilização dos botões e imagem do cachorro -------------- */
.enviar button {
  /* top right bottom left */
  padding: 0 102px 0 102px;
  
  cursor: pointer;
  background-color: #E02029;
  font-family: "Itim", Arial;
  font-size: 16px;
  color: white;
  
  border: 3px solid;
  border-radius: 10px;
  border-color: black;
  
  opacity: 0;
}
.enviar button:hover {
  opacity: 1;
} 

.img-cachorro img {
  top: 43%;
  left: 30%;
  width: 225px;
  position: absolute;
}
  
.voltarLogin button {
  margin-top: 150px;
  padding: 0 70px 0 70px;
  
  cursor: pointer;
  background-color: white;
  font-family: "Itim", Arial;
  font-size: 18px;
  
  border: 3px solid;
  border-radius: 10px;
  border-color: black;
}
.voltarLogin button:hover {
  background-color: #F1F1F1;
}